
ol > .answer-list{
    display: inline-block;
    height: 65px;
    width: 65px;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    font-size: 2em;
    background-color: #f2f6f5;
    opacity: 70%;
}

li.answer-list{
    margin: 2px 1px 2px 1px;
    border-radius: 10px;
    vertical-align: middle;

}


// button{
//     width: 60px;
//     height: 44px;
// }

// form{
//     margin: auto;
//     margin-top: 25px;
//     width: 300px;
//     height: 100px;
//     padding-bottom: 20px;
// }

// input{
//     font-size: 2em;
//     width: 55px;
//     height: 55px;
//     text-align: center;
//     margin-top: 5px;
//     margin-top: 5px;
//     margin: 5px 2px 0px 2px;
//     border: 1px solid black;
//     justify-content: center;
//     border-radius: 5px;
// }