
h3{
    color: blue;
}

#card-container{
    margin-top: 100px;
}

.how-cards{
    border-radius: 10px;
    // background-color: #f1eef7;
    background-color: #fafafa;
    color: black;
    margin-bottom: 50px;
}

#match-h3{
    color: #0192d5;
    font-weight: bolder;
}

#pick-h3{
    color: #00bcab;
    font-weight: bolder;
}

#keno-h3{
    color: #fb992b;
    font-weight: bolder;
}

#hit-h3{
    color: #ff6c2c;
    font-weight: bolder;
}