#hit{
    height: auto;
    margin: auto;
    min-height: 100%;

}

#hit-title {
    background-color: rgba(255, 255, 255, 0.858);
    border-radius: 3px;
    color: #ff6c2c;
    display: block;
    font-size: 3em;
    width: auto;
    max-width: 250px;
    margin: auto;
    margin: auto auto 10px auto;
}

#hitRows{
    margin: auto;
    margin-top: 25px;
    width: 425px;
    height: auto;
    padding-bottom: 100px;
}

form{
    margin: auto;
    margin-top: 25px;
    width: 300px;
    height: 100px;
    padding-bottom: 20px;
}

input{
    font-size: 2em;
    width: 55px;
    height: 55px;
    text-align: center;
    margin-top: 5px;
    margin-top: 5px;
    margin: 5px 2px 0px 2px;
    border: 1px solid black;
    justify-content: center;
    border-radius: 5px;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


button{
    width: 60px;
    height: 44px;
}




