
form{
    margin: auto;
    margin-top: 25px;
    width: 300px;
    height: 400;

}

#pick{
    height: auto;
    margin: auto;
    min-height: 100%;

}

#pick3-title {
    background-color: rgba(255, 255, 255, 0.858);
    border-radius: 3px;
    color: #00bcab;
    display: block;
    font-size: 3em;
    width: auto;
    max-width: 250px;
    margin: auto;
    margin: auto auto 10px auto;
}

#pickRows{
    margin: auto;
    margin-top: 25px;
    width: 425px;
    height: auto;
    padding-bottom: 100px;
}

form{
    margin: auto;
    margin-top: 25px;
    width: 300px;
    height: 240px;
    padding-bottom: 100px;
}

input{
    font-size: 2em;
    width: 55px;
    height: 55px;
    text-align: center;
    margin-top: 5px;
    margin-top: 5px;
    margin: 5px 2px 0px 2px;
    border: 1px solid black;
    justify-content: center;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


button{
    width: 60px;
    height: 44px;
}

#pickOl{
    padding: 0;
    margin: auto;
    max-width: 250px;

}

ol > .answer-list{
    display: inline-block;
    height: 70px;
    width: 75px;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    font-size: 2em;
    background-color: #f2f6f5;
    opacity: 70%;
}
