.root {
  box-sizing: border-box;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(27, 27, 27, 0.85);
  border-radius: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
}