.root {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  height: 100%;
  width: 320px;
}

.gameButton {
  height: 60px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  padding: 16px;
  transition: all 0.1s ease-in-out;

  &:hover {
    letter-spacing: 1.5px;
    color: rgb(236, 236, 236);
    outline: 1px solid whitesmoke;
  }
}
